<div class='background-camels'>
  <div class="bookingform">
    <h1>Book <%= @camel.name %></h1>
    <div class="imagebooking", style="background-image: url('<%= cl_image_path @camel.photo %>');"></div>
    <h2>Date</h2>
    <div class="container mt-2">
      <%= simple_form_for [@camel, @booking] do |f| %>
        <%= f.input :date, label: false%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
    <p id="show-text"><%= link_to 'Show all camels available', camels_path%></p>
  </div>
</div>


