<div class="container mt-3">
  <%= simple_form_for(camel) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category, collection: Camel::CATEGORY %>
    <%= f.input :location, collection: Camel::CITY %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <% if format == 'new' %>
    <%= f.submit class: 'btn', value: 'Add' %>
    <% else %>
    <%= f.submit class: 'btn' %>


    <% end %>

  <% end %>
</div>

