<div class="banner margin-bottom-m" style="background-image: url('<%= image_path 'camel-background.jpg' %>');">
  <div class="banner-content">
    <h1 class="title">Welcome to AirBosseN'Bosse !</h1>
    <p>Camelize your daily life</p>
    <%= link_to "Add your camel", new_camel_path, class: "btn btn-home" %>
  </div>
</div>

<div class="map-container">
  <h1>Our camel map</h1>
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


<div class="container">

  <h1>Our selection</h1>
  <div class="row">
      <% @camels.each do |camel| %>
      <div class="col-12 col-lg-4 col-md-6 col-sm-12">

        <div class="card-product">
          <% if !camel.photo.file.nil? %>
            <div class="card-photo" style= "background-image: url('<%= cl_image_path camel.photo %>');">
          <% else %>
            <div class="card-photo" style= "background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/43/07._Camel_Profile%2C_near_Silverton%2C_NSW%2C_07.07.2007.jpg');">
          <% end %>

          </div>

          <div class="card-product-infos">
            <h2><%= camel.name %></h2>
            <p><%= "#{camel.category}, #{camel.location}" %></p>
            <h3><%= camel.price %>$</h3>
            <%= link_to "Book #{camel.name.split[0]}", camel_path(camel), class: "btn btn-book" %>
            <h5><%= link_to "More infos", camel_path(camel), class: "more" %></h5>
          </div>
        </div>

      </div>
      <% end %>
  </div>
</div>

<div class="container">
  <h1>Advantages</h1>
  <div class="row-cards-features" >
    <div class="card-feature">
      <%= image_tag 'undraw_desert.png' %>
      <h4>Awesome ride</h4>
    </div>
    <div class="card-feature">
      <%= image_tag 'undraw_itinary.png' %>
      <h4>Available everywhere</h4>
    </div>
    <div class="card-feature">
      <%= image_tag 'undraw_mobile.png' %>
      <h4>Mobile access</h4>
    </div>
  </div>
</div>

