<div class="banner margin-bottom-m" style="background-image: url('<%= image_path 'camel-background.jpg' %>');">
  <div class="banner-content">
    <h1>Choose your desert ship !</h1>
    <p>Camelize your daily life</p>
    <%= link_to "Add a camel", new_camel_path, class: "btn btn-home" %>
  </div>
</div>

<div class="container">
  <h1>Our selection</h1>
  <div class="row">
    <div class="row">
      <% @camels.each do |camel| %>
      <div class="col-12 col-lg-4 col-md-6 col-sm-12">

        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1549468057-5b7fa1a41d7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80">
          <div class="card-product-infos">
            <h2><%= camel.name %></h2>
            <p><%= camel.description %></p>
            <p><%= "#{camel.category}, #{camel.location}" %></p>
            <h3><%= camel.price %>$</h3>
            <%= link_to "Book #{camel.name.split[0]}", new_camel_booking_path(camel), class: "btn btn-book" %>
            <h5><%= link_to "More infos", camel_path(camel), class: "more" %></h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

